<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>lab04_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- namespace 이름 공간 -->
  
  <servlet>
        <servlet-name>fistServelt</servlet-name>
        <servlet-class>com.itwill.jsp1.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>fistServelt</servlet-name>
        <url-pattern>/ex1</url-pattern>
  </servlet-mapping>
</web-app>