@charset "UTF-8";

body, html {
/*     background-color: #364c63; */
/*     background: linear-gradient(to right, #364c63, #40536d, #4b6077); */
}

section#header{
    height: 125px;
background: linear-gradient(to bottom, rgba(54, 76, 99, 0.1), transparent);

}

img#wallpaper {
    width: 1500px;
    max-width: 100%;
    height: auto;
    display: block; /* 레이아웃 깨짐 방지 */
}